<div class="container-fluid">
  <div class="page-header">
    <h2>{{ user.username }}'s Pokédex:</h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">{{ evaluation }}</div>
          </div>
        </div> 
      </div>
      <div class="row">
        <form action="/user/{{ user.user_id }}" method="get">     
          <div>
            {% if user.sightings %}
              <ul>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sighting in user.sightings %}
                    <tr>
                      <th scope="row"><a href="/pokemon/{{ sighting.pokemon.name }}">{{ sighting.pokemon_id }}</a></th>
                      <td><a href="/pokemon/{{ sighting.pokemon.name }}">{{ sighting.pokemon.name }}</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              </ul>
            {% endif %}
          </div>        
        </form> 
      </div>  
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          {% if user.sightings %}
            <canvas id="type-distribution" width="400" height="400"></canvas>
            <script>
              var ctx = document.getElementById('type-distribution');
              var types = {{ ptypes|safe }};
              var type_chart = new Chart(ctx, {
                  type: 'pie',
                  data: {
                      // for some reason doing labels as a variable is breaking the pie chart even tho the format is fine
                      labels: types,
                      datasets: [{
                          data: {{ type_counts }},
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 159, 64, 0.2)',
                              'rgba(216, 94, 50, 0.2)',
                              'rgba(100, 112, 33, 0.2)',
                              'rgba(33, 171, 110, 0.2)',
                              'rgba(70, 0, 70, 0.2)',
                              'rgba(262, 123, 111, 0.2)',
                              'rgba(40, 112, 88, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)',
                              'rgba(153, 102, 255, 1)',
                              'rgba(2165, 159, 64, 1)',
                              'rgba(255, 94, 50, 1)',
                              'rgba(100, 112, 33, 1)',
                              'rgba(33, 171, 110, 1)',
                              'rgba(70, 0, 70, 1)',
                              'rgba(262, 123, 111, 1)',
                              'rgba(40, 112, 88, 1)'
                          ],
                          borderWidth: 1
                      }]
                  },
                  options: {
                      title: {
                          display: true,
                          text: '{{ user.username }}\'s sightings broken down by type:',
                          position: 'top'
                      }
                  }
              });
            </script>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br>
          <div position="left-align">
            <a class="btn btn-light" href="/pokemon" role="button" name="pokemon-list-btn">Need to log a new sighting? (View All Pokemon)</a>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>
