{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<br><h4 class="text-center">About:</h4>
<p class="text-center">PokéTwitcher is Fiona Biessener's final project for Hackbright Academy. It is developed as a full-stack application with a PostGreSQL database, Python/Flask backend and Bootstrap/HTML/Javascript(AJAX, JSON) frontend. APIs utilized: PoGo API (include link) for the Pokemon Go data, PokéAPI's (link github) github sprites resource, Cloudinary for image hosting. Chart.js was used to generate the pie charts.</p>
<p class="text-center">Pokémon, Pokémon character names, and all image contents within are Copyright The Pokémon Company.</p>

<p class="text-center">No copyright is claimed in [content copied] and to the extent that material may appear to be infringed, I assert that such alleged infringement is permissible under fair use principles in U.S. copyright laws. If you believe material has been used in an unauthorized manner, please contact the programmer.</p>

{% endblock %}

{% block footer %}{% endblock %}