{% extends 'base.html' %}

{% block title %}All Pokémon{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

{% include 'forms/search_form.html' %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form action="/pokemon">
        <div>
          <h2>All Pokemon in Pokemon Go:</h2>
          <table class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              {% for pokemon in all_mon %}
                <tr>
                  <th scope="row"><a href="/pokemon/{{ pokemon.name }}">{{ pokemon.pokemon_id }}</a></th>
                  <td><a href="/pokemon/{{ pokemon.name }}">{{ pokemon.name }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
