{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <br><div class="card">
            <div class="card-body">
              <p>Hello there! Welcome to PokéTwitcher! I am Professor Willow. Did you know that this world is inhabited by creatures known as Pokémon? Pokémon can be found in every corner of the earth. Some run across the plains, others fly through the skies, some live in the mountains, or in the forests, or near water... I have spent my whole life studying them. Will you help me with my research? I was just looking for someone like you to help! You'll need to find Pokémon from everywhere! First, what is your name?</p>
              <div class="card">
                <div class="card-body">
                  <a class="btn btn-light" href="/user/load" role="button" name="login-btn">Register/Log In</a>
                </div>
              </div>
              <p>Your very own Pokémon legend is about to unfold! A world of dreams and adventures with Pokémon awaits! Let's go!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div>
            <h6>Want to take a tour first?</h6>
            <a class="btn btn-light" href="/pokemon" role="button" name="pokemon-list-btn">View All Pokemon</a>
            <a class="btn btn-light" href="/user/all" role="button" name="user-list-btn">View All Users</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <img src="https://res.cloudinary.com/poketwitcher/image/upload/v1585201204/PokeTwitcher/Professor_Willow.png">
    </div>
  </div>
</div>

{% endblock %}
