{% extends 'base.html' %}

{% block title %}Please log in or register a new account{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body" id="register" name="register">
          <form action="/user/register" method="post" id="register-form">
            <h5>Haven't registered yet? Make a new account here:</h5>
            <div>
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row" class="border-0">Email: </th>
                    <td class="border-0"><input type="text" name="email"></td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-0">Username: </th>  
                    <td class="border-0"><input type="text" name="username"></td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-0">Password: </th>
                    <td class="border-0"><input type="password" name="password"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-right">
              <input class="btn btn-light" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body" id="login" name="login">
          <form action="/user/login" method="post" id="login-form">
            <h5>Already have an account? Log in here:</h5>
            <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
            <div>
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <th scope="row" class="border-0">Username: </th>  
                    <td class="border-0"><input type="text" name="username"></td>
                  </tr>
                  <tr>
                    <th scope="row" class="border-0">Password: </th>
                    <td class="border-0"><input type="password" name="password"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-right">
              <input class="btn btn-light" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}