<!DOCTYPE html>
<html>
<head>
  <title>Log in to your account</title>
</head>
<body>
  <form action="/login" method="get" id="login">
    <div>Log in to your account:</div>
    <div>
      <label for="email">Email: </label>  
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" name="submit" value="Log in">
    </div>
    <div>
      <a href="/register">Haven't registered yet? Make a new account here</a>
    </div>
  </form>
</body>
</html>