<!DOCTYPE html>
<html>
<head>
  <title>Log in to your account</title>
</head>
<body>
  <form action="/login" method="post" id="login">
    <div>Log in to your account:</div>
    <div>
      <label for="email">Email: </label>  
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" name="submit" value="Log in">
    </div>
    <div>
      <a href="/register">Haven't registered yet? Make a new account here</a>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </form>
</body>
</html>