{% extends 'base.html' %}

{% block title %}{{user.username}}'s Profile{% endblock %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form action="/user/{{ user.user_id }}" method="get">     
        <div>
          {% if user.sightings %}
            <h2>{{ user.username }}'s Pokedex:</h2>
            <ul>
              {% for sighting in user.sightings %}
                <li>
                  <a href="/pokemon/{{ sighting.pokemon.name }}">ID: {{ sighting.pokemon_id }} Name: {{ sighting.pokemon.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>        
      </form>    
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <canvas id="type-distribution" width="400" height="400"></canvas>
          <script>
            var ctx = document.getElementById('type-distribution');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ,
                    datasets: [{
                        data: ['Fire', 'Ghost', 'Water', 'Psychic', 'Grass', 'Ground', 'Rock'],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: '# of Users who have seen {{ pokemon }}',
                        position: 'top'
                    }
                }
            });
          </script>
        </div>
      </div>
      <div class="row">
        <div class="col">
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <a href="/pokemon">Need to log a new sighting? Return to All Pokemon</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
