<!DOCTYPE html>
<html>
<head>
  <title>Register New Account</title>
</head>
<body>
  <form action="/register" method="post">
    <div>Register a new account:</div>
    <div>
      <label for="email">Email: </label>  
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" name="submit" value="Register">
    </div>
    <div>
      <a href="/login">Already registered an account? Log in here</a>
    </div>
  </form>
</body>
</html>